# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Library/ScriptAssemblies/Assembly-CSharp.dll
123-zombie-csharp.sln
123-zombie.sln
Assembly-CSharp-vs.csproj
*.csproj
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/CompilationCompleted.txt
*.sln
*.dwlt
Library/expandedItems
Library/guidmapper